// reset element-ui css
.horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}
.app-main {
    /*50 = navbar  */
    min-height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
// sidebar
.app-sidebar-wrap {
    transition: width 0.28s;
    width: 210px !important;
    overflow: hidden !important;
    background-color: #20222A;
    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    .el-scrollbar,
    .el-scrollbar__view {
        height: 100%;
    }
    .el-menu {
        height: 100%;
        text-align: left;
        border-right-color: #20222A;
    }
}

.collapse {
    &.app-sidebar-wrap {
      width: 64px !important;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        i {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        i {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
}

// header
.app-header {
    font-size: 12px;
    background-color: #2F9688;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 50px !important;
    .app-header-left {
    }
    .app-header-right {
    }
}